
  <head>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Hesham's Website</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">	{% for item in nav.top %}
	<li class = "{{ 'active' if item.is_active else '' }}">
	<a href="{{ item.url }}">{{ item.label }}</a>
	</li>
	{% endfor %}  
</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">	{% for item in nav.top %}
	<li class = "{{ 'active' if item.is_active else '' }}">
	<a href="{{ item.url }}">{{ item.label }}</a>
	</li>
	{% endfor %}  
</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>

    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Embed Demo</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

  </head>

  <body>
<div>
Enter a range, order, and a colour and we'll plot a fancy line for you!
</div>
    <!-- A simple form for changing the graph -->
    <p> Select your settings: </p>
    <form name="color_button" method='GET'>
        Color:
        <select name="color">
            <option {{ "selected" if color|indent(4)|safe == "Red" }} value="Red">Red</option>
            <option {{ "selected" if color|indent(4)|safe == "Green" }} value="Green">Green</option>
            <option {{ "selected" if color|indent(4)|safe == "Blue" }} value="Blue">Blue</option>
            <option {{ "selected" if color|indent(4)|safe == "Black" }} value="Black">Black</option>
        </select>
        <br>
        From:
        <input type="text" name="_from" value="{{ _from }}">
        <br>
        To:
        <input type="text" name="to" value="{{ to }}">
	<br>
        Order:
        <input type="text" name="order" value="{{ order }}">
        <br>
        <button type="submit">Submit</button>
    </form>
    {{ plot_div|indent(4)|safe }}
    <p> Demonstrates some very simple embedding into a webpage</p>
  </body>
</html>

