{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}
{% block content %}
      <h5 class="header col s12 light">Enter some text and we'll tell you how you're really feeling. The text gets sent off to an external service via its RESTful API, it then carries out sentiment analysis and returns the emotion associated with the text. We'll then show you one of three images indicating that emotion.</h5>
      </div>
      <div class="row center">
        <a href="emotion" id="download-button" class="btn-large waves-effect waves-light orange">How are you feeling?</a>
      </div>
{% endblock %}
